* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --primary: #cf60f1;
    --secondary: rgb(27, 5, 152);
    --tertiary: white;
    --grey: rgb(168, 168, 168);
    --border-radius: .3rem;
}

header {
    display: flex;
    justify-content: space-between;
}

.viewHS-btn {
    border: none;
    background: none;
    color: var(--primary);
}

.quiz-content {
    text-align: center;
}

.quiz-content-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.btn {
    color: var(--tertiary);
    background-color: var(--secondary);
    border: none;
    outline: none;
    font-size: 1.3rem;
    text-decoration: none;
    border-radius: var(--border-radius);
    padding: 9px;
}

.options {
    color: var(--tertiary);
    background-color: var(--secondary);
    border: none;
    outline: none;
    font-size: 1.3rem;
    text-decoration: none;
    border-radius: var(--border-radius);
    padding: 9px;
    text-align: left;
    width: 200px;
    margin-bottom: 3px;
}

.btn:hover,
.options:hover,
.submit-btn:hover {
    background-color: var(--primary);
}

.optionAndAns {
    margin-left: -42px;
}

#choice-list {
    display: flex;
    flex-direction: column;
}

.decision-block {
    display: none;
    text-align: left;
    margin-left: 40px;
    border-top: 3px solid var(--grey);
    color: var(--grey);
    padding-top: 10px;
    font-style: italic;
    font-size: 18px;
    margin-right: 42px;
}

#final-score {
    display: none;
}

.end-input-form {
    justify-content: center;
    align-items: center;
    display: none;
}

.end-header {
    display: flex;
    margin-right: 10px;
    font-weight: normal;
    display: inline-block;
    text-align: left;
}

.end-form {
    display: flex;
    align-items: center;
}

.form-input {
    margin: 20px 5px;
    font-size: 1.2rem;
    border-radius: var(--border-radius);
}

.submit-btn {
    color: var(--tertiary);
    background-color: var(--secondary);
    border: none;
    outline: none;
    font-size: 1.3rem;
    text-decoration: none;
    border-radius: var(--border-radius);
    margin-bottom: 3px;
    height: 35px;
}

/* MEDIA QUERY */