* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --primary: #cf60f1;
    --secondary: rgb(27, 5, 152);
    --tertiary: white;
    --grey: rgb(168, 168, 168);
    --border-radius: .3rem;
}

header {
    display: flex;
    justify-content: space-between;
}

.viewHS-btn {
    border: none;
    background: none;
    color: var(--primary);
}

.quiz-content {
    text-align: center;
}

.btn {
    color: var(--tertiary);
    background-color: var(--secondary);
    border: none;
    outline: none;
    font-size: 1.3rem;
    text-decoration: none;
    border-radius: var(--border-radius);
    padding: 9px;
}

.btn-2 {
    color: var(--tertiary);
    background-color: var(--secondary);
    border: none;
    outline: none;
    font-size: 1.3rem;
    text-decoration: none;
    border-radius: var(--border-radius);
    padding: 9px;
    text-align: left;
    width: 200px;
    margin-bottom: 3px;
}

.btn:hover,
.btn-2:hover {
    background-color: var(--primary);
}

.bottom {
    text-align: left;
    margin-left: 40px;
    border-top: 3px solid var(--grey);
    color: var(--grey);
    padding-top: 10px;
    font-style: italic;
    font-size: 18px;
    display: none;
}